@import "variables";

.primary-text {
  color: $primary-color;
}

.tiny-rounded-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: transparent;
  outline: 0;
  border: 0;
  font-size: map-get($font-sizes, 'small');
  color: $primary-color;
}


.custom-dialog-container {
  .mat-dialog-container {
    padding: 0 !important;
  }
}

.success-snack-bar {
  padding: 1rem;
  background-color: $success-color;
  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.failed-snack-bar {
  padding: 1rem;
  background-color: $error-color;
  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.active-post {
  background-color: rgba($primary-color, 0.12);
}

.disabled-layer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(#fff,0.8);
  z-index: 800;
}

.post-details-title {
  display: flex;
  align-items: center;
  font-size: map-get($font-sizes, 'medium');
  font-weight: 500;
  .valid-icon {
    color: $primary-color;
    font-size: map-get($font-sizes, 'large');
  }
}

.material-progress {
  position: fixed;
  top: 64px;
  left: 0;
  right: 0;
  z-index: 1000;
}
