<section class="container">
  <div class="auth-card">
    <form [formGroup]="usersForm">
      <ng-container formArrayName="users">
        <ng-container *ngFor="let user of getUsers.controls; let i = index">
          <div class="row" [formGroup]="user">
            <div class="col-md-6">
              <mat-form-field appearance="fill" class="d-block">
                <mat-label>Username</mat-label>
                <input matInput formControlName="name" placeholder="Username" required>
                <span matSuffix>
          <span class="material-icons-outlined primary-text">person</span>
        </span>
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field appearance="fill" class="d-block">
                <mat-label>Age</mat-label>
                <input matInput formControlName="age" placeholder="Username" required>
                <span matSuffix>
          <span class="material-icons-outlined primary-text">person</span>
        </span>
              </mat-form-field>
            </div>
          </div>
        </ng-container>
      </ng-container>

    </form>
    <div class="d-flex align-items-center justify-content-end">
      <button mat-raised-button color="primary" (click)="addUser()">Add User</button>
    </div>
    <br>
    <a routerLink="/auth/login">Login</a>
  </div>
</section>
